export(EasyX)
import(methods,Cairo,plotrix,data.table,forestplot)
importFrom("grDevices", "colors", "dev.cur", "dev.list", "dev.off","dev.set")
importFrom("graphics", "abline", "arrows", "axis", "barplot", "grid", "legend","mtext", "par", "plot", "points", "strwidth", "text")
importFrom("stats", "binom.test", "cor.test", "median", "na.omit","p.adjust", "pchisq", "pnorm", "qbeta", "qchisq","quantile", "sd", "setNames")
importFrom("utils", "read.table", "write.table")
